@media screen and (min-width: 428px) {
    .container {
        width: 428px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .container-item {
        gap: 72px;
        justify-content: center;
    }

    .hero {
        background-image: var(--bg-gradient), url(../images/hero-tablet.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    .hero-main {
        font-size: 36px;
        line-height: 1.11;
        /* text-align: center; */
    }

    .pictures-title {
        display: none;
    }

    .pictures-list {
        display: none;
    }

    .pictures-section {
        display: none;
    }

    .about-list {
        gap: 72px 16px;
        flex-wrap: wrap;
        /* flex-direction: column; */
    }

    .about-title {
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        line-height: 1.1;
        text-align: center;
    }

    .team-list {
        gap: 72px 16px;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .list-icon-customers {
        gap: 72px 16px;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .item-icon-customers {
        width: 190px;
        /* max-width: 190px;
        flex-basis: calc(100% / 2 - 16px); */
    }

    .footer {
        flex-wrap: wrap;
        align-items: center;
    }

    .footer-logo {
        justify-content: center;
    }

    .container-item {
        gap: 72px;
        /* flex-wrap: nowrap; */
    }

    .footer-input {
        width: 100%;
        padding-left: 15px;
    }

    .footer-title {
        text-align: center;
    }

    .subscribe-text {
        text-align: center;
    }


    .footer-soc-list {
        justify-content: center;
    }

    .footer-button {
        margin-left: 104px;

    }

}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;

    }

    .header {
        padding-bottom: 24px;
    }

    .header-list {
        gap: 40px;
        display: flex;
    }

    .header-link {
        display: flex;
    }

    .menu-open-btn {
        display: none;
    }

    .menu-open-btn-item {
        display: none;
    }

    .header-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-address-list {
        justify-content: flex-end;
        gap: 6px;
        display: flex;
        flex-direction: column;
    }

    .current {
        position: relative;
        color: #404bbf;
    }

    .current::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: #404bbf;

        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: -28px;
    }


    .header-link:hover,
    .header-link:focus {
        color: #404bbf;
    }

    .header-address {
        font-style: normal;
        color: var(--color-slate);
        text-decoration: none;
        display: flex;

    }

    .header-address {
        text-decoration: none;
    }

    .header-mail {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--color-slate);
        text-decoration: none;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-mail:is(:hover, :focus) {
        color: #404bbf;
    }

    .hero {
        background-image: var(--bg-gradient), url(../images/hero-tablet.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 728px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: var(--bg-gradient), url(../images/hero-tab-2x.jpg);
        }
    }

    .hero-main {
        width: 496px;
        font-size: 56px;
    }

    .pictures-title {
        display: none;
    }

    .pictures-list {
        display: none;
    }

    .pictures-section {
        display: none;
    }


    .about-list {
        gap: 72px 24px;
        flex-wrap: wrap;
        flex-direction: row;

    }

    .about-title {
        text-align: start;
    }

    .about-list li {
        /* flex-basis: calc(100% / 2 - 16px); */
        width: 356px;

    }

    .team-list {
        gap: 64px 24px;
        flex-wrap: wrap;
        /* width: calc((100% - 72px) / 2); */
        /* flex-basis: calc(100% / 2 - 16px); */
        display: flex;
    }

    .team-item {
        /* width: calc((100% - 72px) / 2); */
    }

    .team-list li {
        /* flex-basis: calc(100% / 2 - 16px); */
    }

    .list-icon-customers {
        gap: 72px 24px;
        flex-wrap: wrap;
    }

    .item-icon-customers {
        width: 168px;

    }

    .container-item {
        /* padding: 0 108px; */
    }

    .input-button {
        display: flex;
    }

    .footer-input {
        width: 264px;
    }

    .footer-button {
        margin-top: 0;
        margin-left: 24px;
    }

    .subscribe-text {
        text-align: start;
    }

    /* .subscribe.container {
        margin-left: 50px;
    } */

}

@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
    }

    .header {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .header-list {
        gap: 40px;
    }

    .header-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .current {
        position: relative;
        color: #404bbf;
    }

    .current::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: #404bbf;

        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: -28px;
    }

    .header-address-list {
        justify-content: flex-end;
        gap: 40px;
        display: flex;
        flex-direction: row;

    }

    .header-mail {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

    .hero {
        background-image: var(--bg-gradient), url(../images/hero-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: var(--bg-gradient), url(../images/hero-bg-2x.jpg);
        }

    }

    .hero {
        max-width: 1440px;
        padding: 188px 0;
    }

    .hero-main {
        width: 496px;
    }

    .about-page {
        width: 264px;
        height: 112px;
        background: #F4F4FD;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }

    .about-list li {
        flex-basis: calc(100% / 4 - 32px);
    }

    .about-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--color-navy-blue);
        margin-bottom: 8px;
        text-align: start;

    }

    .pictures-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--color-navy-blue);
        margin-bottom: 72px;
    }

    .pictures-list {
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    .pictures-section {
        padding-top: none;
        padding-bottom: 120px;
    }

    .item-icon-customers {
        width: calc((100% - 16px) / 2);
        max-width: 168px;
        flex-basis: calc(100% / 2 - 16px);
    }

    .team-list {
        width: 100%;
        flex-wrap: nowrap;
    }

    .footer-container {
        /* margin-right: 120px; */

    }

    .input-button {
        display: flex;
    }

    .footer {
        background-color: var(--color-navy-blue);
        padding-top: 100px;
        padding-bottom: 100px;
        align-items: baseline;

    }

    .container-item {
        display: flex;
        gap: 72px;
        flex-wrap: nowrap;
    }

    .footer-container {
        /* margin-right: 120px; */

    }

    .footer-input {
        min-width: 264px;
    }

    .footer-button {
        margin-top: 0;
    }

    .footer-title {
        text-align: start;
    }

    .footer-soc-list {
        justify-self: start;

    }

    .subscribe-text {
        text-align: start;
    }


}